.about-us {
  display: flex;
  width: 560px;
}

.about-us__menu {
  display: flex;
  flex-wrap: wrap; /* */
  width: 303px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.about-us__link {
  font-size: 13px;
  line-height: 18px;
  color: inherit;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);

  &--bold {
    font-weight: bold;
  }

  &:hover,
  &:focus,
  &:active {
    color: #ffbc9e;
    border-bottom: 1px solid rgba(255, 188, 158, 0.3);
  }
}

.about-us__info {
  min-width: 140px;
}
