.about-us {
  width: 560px;
  margin-top: 10.5px;
}

.about-us__menu {
  display: flex;
  flex-wrap: wrap; /* */
  align-items: flex-start;
  width: 307px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.about-us__link {
  font-size: 13px;
  line-height: 18px;
  color: inherit;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);

  &--bold {
    position: relative;
    font-weight: bold;
  }

  &:hover,
  &:focus,
  &:active {
    color: #ffbc9e;
    border-bottom: 1px solid rgba(255, 188, 158, 0.3);
  }
}

.about-us__info {
  position: relative;
  min-width: 112px;
  margin-right: 32px;

  &--heart::before {
    content: "";
    position: absolute;
    top: 6px;
    left: -21px;
    width: 15px;
    height: 13px;
    background-image: url("../img/heart.svg");
  }

  &:nth-child(even) {
    margin-right: 0;
  }
}
