.authorization {
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.authorization__form {
  width: 277px;
  padding: 20px 19px 22px 19px;
  background-color: #f8f7f4;
  border-radius: 5px;
  box-sizing: border-box;
}

.authorization__element {
  position: relative;
  margin: 0;
}

.authorization__field {
  margin-bottom: 20px;
  font-size: 14px;

  &:focus + .authorization__label {
    color: #5b9ddf;
    opacity: 1;
  }

  &:not(:focus):valid + .authorization__label {
    color: #999999;
    opacity: 1;
  }
}

.authorization__label {
  position: absolute;
  top: -15px;
  left: 15px;
  pointer-events: none;
  font-size: 11px;
  line-height: 13px;
  opacity: 0;
}

.authorization__wrapper {
  display: flex;
  justify-content: space-between;
}

.authorization__button {
  height: 44px;
  padding-left: 24px;
  padding-right: 25px;
  border-radius: 20px;
  box-shadow: 0px 1px 2px 0px rgb(172, 16, 0);
}

.authorization__support {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.authorization__link-wrapper {
  margin: 0;
  font-size: 13px;
  line-height: 15px;
}

.authorization__supporting-link {
  font-size: 13px;
  line-height: 21px;
  color: #323232;
  background-image: linear-gradient(to right, rgba(50, 50, 50, 0.3), rgba(50, 50, 50, 0.3) 100%);
  background-position: 0 100%;
  background-size: 10px 1px;
  background-repeat: repeat-x;

  &:hover,
  &:focus,
  &:active {
    color: #e84d37;
    background-image: linear-gradient(to right, rgba(232, 77, 55, 0.3), rgba(232, 77, 55, 0.3) 100%);
  }
}
