.breadcrumbs {
  font-size: 14px;
  line-height: 16px;
  padding: 0;
  list-style: none;
}

.breadcrumbs__link {
  color: inherit;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);

  &:hover,
  &:focus,
  &:active {
    color: #ffbc9e;
    border-bottom: 1px solid rgba(255, 188, 158, 0.3);
  }
}
