.contacts__description {
  font-size: 14px;
  line-height: 20px;
  color: #323232;
}

.contacts__address {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}

.contacts__tel {
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
}

.contacts__working-hours {
  line-height: 22px;
}
