.copyright {
  width: 267px;
  padding-left: 78px;
  box-sizing: border-box;
}

.copyright__intro {
  margin: 0;
  font-size: 12px;
  line-height: 18px;
  color: #fefefe;
}

.copyright__link {
  color: inherit;
  border-bottom: 1px solid rgba(254, 254, 254, 0.2);

  &:hover,
  &:focus,
  &:active {
    color: #ffbc9e;
    border-bottom: 1px solid rgba(255, 188, 158, 0.3);
  }
}

.copyright__image {
  display: block;
  margin-bottom: 5px;
}
