.field {
  font-family: inherit;
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
  border: 1px solid #999999; /* ????????? ????????? */
  outline: none;

  &::placeholder { /* ???? ????? */
    font-weight: normal;
    color: #999999;
  }

  &:hover {
    border: 2px solid #999999;
  }

  &:focus {
    border: 2px solid #8fbdec;
  }
}
