.filters {
  margin-bottom: 40px;
}

.filters__form {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  width: 1146px;
  font-family: inherit;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}

.filters__block {
  margin: 0;
  margin-right: 15px;
  margin-bottom: 16px;
  padding: 0;
  border: none;

  &:last-of-type {
    margin: 0;
  }

  &--price {
    position: relative;
  }
}

.filters__name {
  margin-bottom: 6px;
  padding-left: 16px;
  font-size: 14px;
  line-height: 16px;
}

.filters__field-wrapper {
  position: absolute;
  top: 0;
  left: 57px;
}

.filters__select-wrapper {
  position: relative;
}

.filters__arrow-icon {
  position: absolute;
  z-index: 3;
  top: 16px;
  right: 14px;
  fill: #ffffff;
  pointer-events: none;
}

.filters__sorting {
  min-width: 193px;
  height: 36px;
  padding: 7px 10px 8px 12px;
  font: inherit;
  line-height: inherit;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 20px;
  box-sizing: border-box;

  &:hover,
  &:focus {
    color: #323232;
    background-color: #ffffff;
  }

  &:hover + .filters__arrow-icon,
  &:focus + .filters__arrow-icon {
    fill: #323232;
  }

  &:hover ~ .filters__service,
  &:focus ~ .filters__service {
    background-color: #ffffff;
  }
}

.filters__service {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  width: 30px;
  height: 36px;
  background-color: #a9bab0;
  border-radius: 20px;
  pointer-events: none;
}

.filters__options {
  display: flex;
  margin: 0;
  padding: 0;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  list-style: none;
  padding-top: 9px;
  padding-bottom: 9px;

  &--radio {
    padding-right: 15px;
    padding-left: 14px;
  }

  &--checkbox {
    padding-right: 19px;
    padding-left: 16px;
  }
}

.filters__option-value {
  font-family: inherit;
  font-size: 14px;
  line-height: 16px;
  color: #323232;
}

.filters__item {
  &--radio {
    margin-right: 18px;
  }

  &--checkbox {
    margin-right: 21px;
  }

  &:last-child {
    margin: 0;
  }
}

.filters__label {
  position: relative;
  padding-left: 32px;
  vertical-align: top;
  cursor: pointer;

  &--price {
    padding-left: 0;
    font-size: 14px;
    line-height: 16px;
  }

  &--radio::before {
    content: "";
    position: absolute;
    top: -1px;
    left: 0;
    width: 22px;
    height: 22px;
    background-image: url("../img/radio-off.svg");
    background-size: 22px 22px;
    opacity: 0.8;
  }

  &--radio:hover::before {
    opacity: 1;
  }

  &--checkbox::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background-image: url("../img/checkbox-off.svg");
    background-size: 20px 20px;
    opacity: 0.8;
  }

  &--checkbox:hover::before {
    opacity: 1;
  }
}

.filters__radio:focus + .filters__label {
  &--radio::before {
    opacity: 1;
  }
}

.filters__checkbox:focus + .filters__label {
  &--checkbox::before {
    opacity: 1;
  }
}

.filters__radio:checked + .filters__label {
  &--radio::before {
    background-image: url("../img/radio-on.svg");
    background-size: 22px 22px;
  }
}

.filters__checkbox:checked + .filters__label {
  &--checkbox::before {
    width: 23px;
    background-image: url("../img/checkbox-on.svg");
    background-size: 23px 20px;
  }
}

.filters__radio:disabled + .filters__label {
  &--radio::before {
    opacity: 0.4;
  }
}

.filters__checkbox:disabled + .filters__label {
  &--checkbox::before {
    opacity: 0.4;
  }
}
.filters__field {
  width: 25px;
  height: 14px;
  vertical-align: top;
  font: inherit;
  font-size: 14px;
  line-height: 16px;
  color: inherit;
  background: none;
  border: none;

  &::placeholder {
    font: inherit;
    color: inherit;
  }
}

.filters__button {
  margin-left: 14px;
  padding: 7px 27px 7px 28px;
  font: inherit;
  color: #ffffff;
  background-color: rgba(251, 252, 251, 0.2);
  border: 2px solid #fbfcfb;
  border-radius: 20px;
  outline: none;
  cursor: pointer;

  &:hover,
  &:focus {
    color: #323232;
    background-color: #fbfcfb;
  }

  &:active {
    background-color: #eaeaea;
    border: none;
    padding: 9px 29px 9px 30px;
    box-shadow: inset 0px 2px 1px 0px #696969;
  }
}
