.main-products {
  margin-bottom: 41px;
}

.main-products__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-products__title {
  width: 667px;
  margin: 0 auto;
  margin-bottom: 33px;
  font-size: 60px;
  line-height: 60px;
  font-weight: bold;
}

.main-products__item {
  text-align: center;
}

.main-products__link {
  padding: 8px 42px 11px 40px;
  font-size: 32px;
  line-height: 44px;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
}
