.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 10;
  transform: translate(-50%, -50%);

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -100%;
    right: -100%;
    bottom: -100%;
    left: -100%;
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.modal__close {
  position: absolute;
  top: 15px;
  right: 16px;
  width: 18px;
  height: 17px;
  padding: 0;
  background-color: transparent;
  background-image: url(../img/cross-big.svg);
  border: none;
  cursor: pointer;
}
