.page-main {
  position: relative;

  &--inner {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
}

.page-main__breadcrumbs {
  position: absolute;
  top: -18px;
}

.page-main__title {
  margin: 0;
  margin-top: 1px;
  margin-bottom: 28px;
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
}

.page-main__wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
