.page {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  background-color: #849d8f;

  &--inner {
    background-image: linear-gradient(to bottom, #9cb0a5, #859e90 625px, #849d8f 626px);
  }
}

.page__background-toggle {
  display: none;
}

.page__background {
  min-width: 1200px;
  background-color: #849d8f;
  background-image: url("../img/gllacy_1@1x.png");
  background-size: 1045px auto;
  background-position: center top;
  background-repeat: no-repeat;
  transition: background-image 0.5s ease, background-color 0.5s ease;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/gllacy_1@2x.png");
  }
}

.page__background {
  &::before,
  &::after {
    content: "";
    visibility: hidden;
  }
}

.page__background::before {
  background-image: url("../img/gllacy_2@1x.png");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/gllacy_2@2x.png");
  }
}

.page__background::after {
  background-image: url("../img/gllacy_3@1x.png");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/gllacy_3@2x.png");
  }
}

#btn-2:checked ~ .page__background {
  background-color: #8996a6;
  background-image: url("../img/gllacy_2@1x.png");
  background-size: 1065px auto;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/gllacy_2@2x.png");
  }
}

#btn-3:checked ~ .page__background {
  background-color: #9d8b84;
  background-image: url("../img/gllacy_3@1x.png");
  background-size: 1079px auto;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/gllacy_3@2x.png");
  }
}
