.pagination {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  margin-top: 42px;
  margin-bottom: 30px;
  padding: 0;
  list-style: none;
}

.pagination__link {
  display: inline-block;
  min-width: 27px;
  height: 26px;
  padding-left: 5px;
  padding-right: 5px;
  line-height: 27px;
  font-weight: 500;
  color: inherit;
  vertical-align: middle;
  text-align: center;
  border-radius: 50%;
  box-sizing: border-box;

  &:hover,
  &:focus {
    background-color: rgba(255, 255, 255, 0.2);
  }

  &:active {
    color: #323232;
    background-color: #ffffff;
  }
}

.pagination__item {
  line-height: 0;

  &:not(:last-child):not(:first-child) {
    margin-right: 2px;
  }

  &--current .pagination__link {
    color: #323232;
    background-color: #ffffff;
  }

  &--prev {
    margin-right: 15px;
  }

  &--next {
    margin-left: 14px;
  }

  &--prev .pagination__link,
  &--next .pagination__link {
    min-width: 8px;
    padding: 0;
  }

  &--prev .pagination__link:hover,
  &--next .pagination__link:hover,
  &--prev .pagination__link:focus,
  &--next .pagination__link:focus {
    background-color: transparent;
  }

  &--disabled .pagination__icon {
    fill: rgba(255, 255, 255, 0.2);
  }
} /**/

.pagination__icon {
  fill: #ffffff;

  &--prev {
    transform: rotate(180deg);
  }
}
