.promo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.promo__block {
  width: 560px;
}

.promo__title {
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
}

.promo__info {
  font-size: 18px;
  font-weight: bold;
}
