.subscription {
  width: 560px;
  height: 220px;
  background-image: url("../img/bg-post.svg");
  background-repeat: no-repeat;
  border-radius: 15px;
  box-sizing: border-box;
}

.subscription__wrapper {
  display: flex;
  flex-direction: column;
  height: 210px;
  margin: 5px 5px 5px 6px;
  padding: 29px 21px 35px 20px;
  background-color: #f8f7f4;
  border-radius: 10px;
  box-sizing: border-box;
}

.subscription__description {
  margin: 0;
  margin-bottom: auto;
  color: #5a5a5a;
}

.subscription__form {
  display: flex;
}

.subscription__element {
  position: relative;
  margin: 0;
}

.subscription__field {
  display: inline-block;
  width: 368px;
  height: 44px;
  padding: 8px 13px 10px;
  vertical-align: bottom;
  border: 1px solid #d3d3d2;
  border-radius: 5px;

  &:focus + .subscription__label {
    color: #5b9ddf;
    opacity: 1;
  }

  &:not(:focus):valid + .subscription__label {
    color: #999999;
    opacity: 1;
  }
}

.subscription__label {
  position: absolute;
  top: -15px;
  left: 15px;
  pointer-events: none;
  font-size: 11px;
  line-height: 13px;
  opacity: 0;
}

.subscription__button {
  display: inline-block;
  margin-left: auto;
  padding: 8px 18px 12px 19px;
}
